<!DOCTYPE html>
<html>
 <head>
  <meta charset = "utf-8">
  <title>Quiz</title>
  </head>
  <body>
  <h2> Quiz¡: juego de las preguntitas</h2>
  <h1> Datos creador</h1>
<article>
<img src= "imagen.jpg" alt="Mi imagen"width="320px" height="195px">
<iframe width="320px" height="195px" src="https://www.youtube.com/embed/yldN7geOZfc?list=FLbb7Iayex_YTwoiIkr5MJgQ" frameborder="0" allowfullscreen></iframe>
</article>
<footer>
<ul>
	<li>
		Eduardo Merino Machuca
	<li>
		Eduardo.merinom@alumnos.upm.es
</ul>
<script type="text/javascript">
document.write(new Date());
 </script>
</footer>
</body>

</html>                                            
