<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a mi <%= title %></h1>
    <p>¡Un portal para crear tus propios juegos!
 :)</p>
  </body>
</html>
